<div class="auth-menu auth-backdrop is-hidden">
  <div class="auth-modal">
    <button class="auth-cross-btn" type="button">
      <svg class="auth-cross-icon" width="20" height="30">
        <use href="/src/images/icons.svg#icon-cross"></use>
      </svg>
    </button>
    <form class="auth-form" name="signup_form" autocomplete="on">
      <label class="auth-label">
        <p class="auth-text">Email</p>
        <input class="auth-input" type="email" name="email" required />
      </label>
      <label class="auth-label">
        <p class="auth-text">Password</p>
        <input
          class="auth-input"
          type="password"
          name="password"
          required
          autocomplete=""
        />
      </label>
      <button class="auth-btn sumbit-btn" type="submit">Submit</button>
    </form>
    <a class="auth-link link" href="/src/registration-page.html"
      >Create account</a
    >
  </div>
  <div></div>
</div>
