.auth-backdrop {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  display: none;
}

.auth-modal {
  position: absolute;
  border-radius: 5px;
  width: 400px;

  padding: 50px 40px 40px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.auth-cross-btn {
  display: flex;
  //   justify-content: center;
  //   align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  font-family: $main-font;
  background-color: transparent;
  border: 1px solid #111321;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: gray;
  }
}

.auth-form {
  max-width: 70%;

  margin: 0 auto;
}

.auth-label {
  display: block;
  margin-bottom: 30px;
}

.auth-text {
  margin-bottom: 5px;
  color: $primary-text-color;
}

.auth-input {
  padding: 5px 10px;
  width: 100%;
  border: 1px solid #111321;
  border-radius: 20px;
}

.sumbit-btn {
  margin: 0 auto 20px;
}

.auth-link {
  display: block;
  text-align: center;
  color: $primary-text-color;
  &:hover,
  &:focus {
    color: gray;
  }
}
