.switch {
  @apply inline-flex items-center gap-0-md cursor-pointer;

  & input {
    @apply hidden;
  }

  & i {
    @apply relative inline-block  w-[40px] h-[20px]  rounded-[23px] align-text-bottom transition-all duration-300;

    &::after {
      content: "";
      @apply absolute -left-[2px] -top-[2px] w-[18px] h-[18px]  rounded-[11px] transition-all duration-300;
      transform: translate3d(2px, 2px, 0);
    }
  }
  &:active i::after {
    transform: translate3d(2px, 2px, 0);
  }
  &:active input:checked + i::after {
    transform: translate3d(16px, 2px, 0);
  }

  & input:checked + i {
    &::before {
      transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
    }

    &::after {
      transform: translate3d(22px, 2px, 0);
    }
  }
}
